@using FoodApp.Models
@model CheckoutModel
@{
    Layout = "_FullLayout";
}

<div class="row mt-4">
    <div class="col-md-8 col-lg-8">
        @foreach (var item in Model.Products)
        {
            <div class="card mb-3">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4 col-lg-4">
                            <img src ="@Url.Content(item.ImageURL)" style="height: 23dvh"/>
                        </div>
                        <div class="col-md-8 col-lg-8">
                            <strong><div class="card-title mb-2">@item.ProductName</div></strong>
                            <strong><div class="mb-2">@item.ProductDescription</div></strong>
                            <strong>
                                <div class="mb-2">
                                    <small>₹</small>@item.Price
                                </div>
                            </strong>
                          
                        </div>
                    </div>
                </div>
            </div>
           
            
            <div></div>
        }
    </div>

    <div class="col-md-4 col-lg-4">
        <div class="card">
            <div class="card-body">
                <h5 class="text-center">Order Summary</h5>
                <span class="mb-1">Total Item: <small class="float-end">@Model.Products.Count()</small></span><br />
                <span class="mb-1">Total Amount: <small class="float-end">@Model.OrderSummary.TotalAmount</small></span><br />
                <span class="mb-1">Tax Amount: <small class="float-end">@Model.OrderSummary.TaxAmount</small></span><br />
                <span class="mb-1">Paying Amount: <small class="float-end">@Model.OrderSummary.PayingAmount</small></span><br />
                <div class="mt-2">
                    <button class="btn btn-success">Place Order</button>
                </div>
            </div>
        </div>
    </div>

</div>